<!--
文件名：__test_.html
AngulerJS使用django基础模板，同时都要使用函数时，必须注意以下两点：
1、 block content块 放在body开始的地方。
2、 <div ng-app="myApp"  ng-controller="myCtrl" > myApp、myCtrl不能与基础模板同名
-->
    <!DOCTYPE html>
    <html >
    <head>
        <meta  content="text/html; charset=UTF-8" />

        <link href="/tatic/angularjsfile/css/bootstrap.min.css"  rel="stylesheet">
        <script src="/static/angularjsfile/js/jquery.min.js"></script>
        <script src="/static/angularjsfile/js/bootstrap.min.js"></script>
        <script src="/static/angularjsfile/js/angular.min.js"></script>

    </head>

    <body >



    <div  ng-app="myApp"  ng-controller="myCtrl" >


        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope, $http) {
                $http.get("/static/oday/php/dbfile.php").success(function (response) {$scope.PlayLessons = response.records;});

            });
            app.config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('{$');
                $interpolateProvider.endSymbol('$}');
            });

        </script>



        <a href="http://localhost:8000/blog/test/?PlayLessons={$PlayLessons $}  " >
            这个确定 （测试了 django使用基础模板 变量不能同时 共存使用！）
        </a>
        {% endverbatim %}

        <!-- content 放在body开头试试-->
        {% block content %}
        {% endblock %}
        <!--  content end -->

    </div>






    </body>

    </html>




