<!--
文件名：__test__.html
django模板包含基础模板使用AngulerJS函数的方法(研究了三天，太有用了)：
1、 <div ng-app="myApp"  ng-controller="myCtrl" > 模板的myApp、myCtrl必须与基础模板同名
2、__index__.html基础模板中创建一个<div ng-app="myApp"  ng-controller="myCtrl" > 空函数
     <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {

       });
    </script>
3、index.html模板中创建一个<div ng-app="myApp"  ng-controller="myCtrl" > 实体函数
       <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope, $http) {
                $http.get("/static/oday/php/dbfile.php").success(function (response) {$scope.PlayLessons = response.records;});
                $scope.firstName ='hello world!'
            });
        </script>

 实现功能：
变量的值$scope.firstName、$scope.PlayLessons不仅index.html模板中可以使用，而且__index__.html基础模板中也可以使用。
吴春龙 2016.4.1
-->
<!DOCTYPE html>
<html >
<head>
    <meta  content="text/html; charset=UTF-8" />

    <link href="/tatic/angularjsfile/css/bootstrap.min.css"  rel="stylesheet">
    <script src="/static/angularjsfile/js/jquery.min.js"></script>
    <script src="/static/angularjsfile/js/bootstrap.min.js"></script>
    <script src="/static/angularjsfile/js/angular.min.js"></script>


</head>

<body ng-app="myApp"  ng-controller="myCtrl">


{% verbatim %}
     <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
       });
    </script>

     <form   action='#' method='get' name='formname1'>
         <input class="search-text" type="text" ng-model='q' name='q' autocomplete="off"  placeholder="搜索课程、问答或Wiki" >
         <!--a  class="search-btn"  href="http://localhost:8000/blog/testng_app/?q= {{ q }} ">提交</a-->
         <button type="submit" class="search-btn" value= {{q}} name='q' ></button>
     </form>
{% endverbatim %}

<!-- content -->
{% block content %}
{% endblock %}
<!--  content end -->


</body>
</html>



