<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="userCtrl">

<div class="container">
    <div ng-include="'/static/oday/html/myUsers_List.html'"></div>
    <div ng-include="'/static/oday/html/myUsers_Form.html'"></div>
</div>

<script src= "/static/oday/js/myUsers.js"></script>

</body>
</html>
