<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <script src="/static/angularjsfile/js/angular.min.js/"></script>
</head>
<body>

{% verbatim %}
<div ng-app="myApp" ng-controller="myCtrl">
    <div ng-repeat="PlayLessonList in PlayLessonLists ">

    </div>

    <a href="http://localhost:8000/blog/NewtableLessonListFnames/?PlayLessonLists={{ PlayLessonLists }}">创建新表</a>


</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
        $http.get("/static/oday/php/PlayLessonList.php").success(function (response) {$scope.PlayLessonLists = response.records;});

    });
</script>
{% endverbatim %}
</body>
</html>
