<!--
文件名：test.html
-->
{% extends '__test2__.html' %}
{% block content %}
    <!DOCTYPE html>
    <html >
    <head>
        <meta  content="text/html; charset=UTF-8" />
        <script src="/static/angularjsfile/js/angular.min.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
    <div >

        {% verbatim %}

        aaaaa: {{ count }}

      {% endverbatim %}

        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
                $scope.count = 100;
            });
        </script>


        </div>
        </body>
    </html>

{% endblock %}



