
{% extends 'home/__base__.html' %}


{% block content %}


    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Bootstrap 实例 - 默认的导航栏</title>
     
 
        <link href="/static/PlayVideoFils/css/bootstrap.min.css" rel="stylesheet">
        <script src="/static/PlayVideoFils/js/jquery.min.js" ></script>
        <script src="/static/PlayVideoFils/js/bootstrap.min.js"></script>
        <script src="/static/PlayVideoFils/js/angular.min.js" ></script>
  
    </head>

    <body  ng-app="selectExample">


    <!--django传来的变量 视频列表-->
    <div ng-init="videonames = [
        {{ Playvideos }}

       
    ]">



         {% raw %}

        <script>
            angular.module('selectExample', [])
                    .controller('ExampleController', ['$scope', function($scope) {


                        //按钮事件
                       // $scope.doGreeting = function(PlayerFile,Intvideo,Playnum)
                        $scope.doGreeting = function(PlayerFile,Intvideo,Playnum)
                        {
                                                      //获得视频简介
                            $scope.Intvideo=Intvideo;
                            //获得视频文件名
                            $scope.PlayerFile=PlayerFile.substring(28, 50);
                            //字符串转整数，获得播放次数
                            //$scope.Playnum=parseInt(Playnum, 10)+1;
                            var myVideo=document.getElementById("video");
                            //获得视频文件
                            myVideo.src =[PlayerFile];
                            //alert(PlayerFile);
                        }

                    }]);


        </script>


        <div ng-controller="ExampleController">
            <ul>
                <p>正在播放:{{PlayerFile}}</p>
                <!--使用网格系统-->
                <div class="row" style="padding-left:1px;">

                    <!--视频播放器-->
                    <div class="col-md-8" style="background-color: #000;box-shadow:
               inset 1px -1px 1px #444, inset -1px 1px 1px #444; padding-left:1px; ">
                        <!--padding-left:2px;控制文本（视频播放器）开始位置-->
                        <!--html5视频播放#B18904;-->

                        <video id="video" autoplay="autoplay" preload="none" controls="controls " height="444" width="762"  >
                            <source src="#" type="video/ogg">
                            您的浏览器不支持 HTML5 Video 。
                        </video>
                    </div><!--视频播放器 end-->
                    <!--标签变量的使用-->

            
                    <!--视频播放列表-->
                    <div class="col-md-4" style="background-color: #fff;padding-left:0px;">
                        <ul  class="nav nav-tabs">
                            <li class="active">
                                <a href="#listvideo" data-toggle="tab">  视频列表   </a>
                            </li>

                            <li>
                                <a href="#introductionvideo" data-toggle="tab"> 视频简介 </a>
                            </li>
                        </ul>

                        <!--标签页-->
                        <div   class="tab-content" style="background-color: #fff;padding-left:0px; height:408px;word-wrap:break-word;overflow:auto">


                          


                            <!--视频列表-->
                            <div class="tab-pane fade in active" id="listvideo">


                                <!-- 循环产生视频播放列表-->
                                <div ng-repeat="vname in videonames">


                                    <div class="col-md-4" style="background-color: #fff;box-shadow:
                  inset 1px -1px 1px #ddd, inset -1px 1px 1px #ddd;padding-left:0px; width:340px ">
                            <!--form 没有action='#'，不能实现提交，用了action='#'要执行两次-->

                                <form  method='get'  ng-submit="doGreeting(vname.videoname,vname.intvideo,vname.playnum);"  >

                                   <button  type="submit"   style="padding-left:0px;  width:340px;" >

                                        <!--创建缩位图-->
                                            <div class="col-md-4" style="background-color: #fff;padding-left:0px;width:80px; height:65px;">
                                                <div class="thumbnail" >
                                                    <!--模板变量的使用-->
                                                    <img src={{vname.img}}  >

                                                </div>
                                            </div>
                                            <!--模板变量字符串切片操作，文件名长度22个字符-->
                                            {{vname.videoname.substring(28,50)}}
                                            </br>
                                              播放次数：{{vname.playnum}}



                                    <!-- videoname: <input type='text' name='videoname'  value= {{vname.videoname.substring(1,50)}} --> 
                                       </button>


                            </form>

                                    </div>
                                </div><!-- 循环产生视频播放列表 end-->



                            </div> <!--视频列表  end-->


                            <!--视频简介-->
                            <div class="tab-pane fade" id="introductionvideo" >
                                <div class="col-md-4" style="background-color: #fff;box-shadow:
                  inset 1px -1px 1px #ddd, inset -1px 1px 1px #ddd;padding-left:6px; width:350px; height:408px; ">

                                <p>
                                    视频简介:{{Intvideo}}
                                </p>
                            </div>
                           </div>


                        </div><!--标签页  end-->





                    </div><!--视频播放列表 end-->

                  

                </div> <!--使用网格系统div class="row" style="padding-left:1px;"  end-->

            </ul>

        </div><!--div ng-controller="ExampleController" end-->

    </div><!--videoname视频文件  img缩位图  playnum播放次数   intvideo视频简介  end  -->

  {% endraw %}

    </body>
    </html>


{% endblock %}


