{% extends '/course/layout.html' %}

{% block scripts_begin %}
<script>
var chapter_url = '/api/chapters/courses/{{ course.id }}';

$(function () {
    $('#form-chapter').submit(function (e) {
        e.preventDefault();
        showError();
        var content = $('#form-chapter textarea').val().trim();
        if (content==='') {
            return showError('Please input chapters!');
        }
        startLoading();
        postApi(chapter_url, {content: content}, function (err, result) {
            if (err) {
                showError(err);
                stopLoading();
                return;
            }
            location.reload();
        });
    });
});
</script>

{% endblock %}

{% block content_left %}
        <article class="uk-article">
            <h2>{{ course.name }}</h2>
            <p class="uk-article-meta">Post at {{ course.created_at }}</p>
        </article>

        <hr class="uk-article-divider">

        <h3>Newest chapters</h3>

        <ul class="uk-chapter-list">
            {% for chapter in chapters %}
            <li>
                <article class="uk-chapter">
                    <header class="uk-chapter-header">
                        <p class="uk-chapter-meta">{{ chapter.created_at }}</p>
                    </header>
                    <div class="uk-chapter-body">
                        <p>Chapter {{ chapter.order }}</p>
                        <p>{{ chapter.content }}</p>
                        <p><video width="640" height="360" controls="">
                            <source src="{{ chapter.video_url }}">
                        </video></p>
                    </div>
                </article>
            </li>
            {% else %}
            <p>No chapters yet...</p>
            {% endfor %}
        </ul>
{% endblock %}

{% block content_right_up %}
        <div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
                <img class="uk-border-circle" width="120" height="120" src="{{ user.image }}">
                <h3>{{ user.name }}</h3>
            </div>
        </div>
{% endblock %}
